*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
@font-face{
    font-family: 'Fredoka One';
    font-weight: 400;
    src:url(/assets/images/k3kUo8kEI-tA1RRcTZGmTlHGCac.woff2)
}
body{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}
// header
header{
    .top-header{
        background-color: #23cc88;
        height:50px;
        .top-header-nav{
            display: flex;
            justify-content: space-between;
            .left-nav{
                display: flex;
                margin: 0px;
                padding: 0px;
                li{
                    list-style-type: none;
                    border-left:1px solid #4fd6a0;
                    margin-right:15px;
                    padding: 13px 0px 13px 15px;
                    height:50px;
                    a{
                        text-decoration: none;
                        color: #fff;
                        i{
                            background-color: #23cc88;
                            margin-right: 5px;
                        }
                    }
                }
                li:first-child{
                    border-left: none;
                    padding-left: 0px;
                }
            }
            .right-nav{
                display: flex;
                padding: 0px;
                margin: 0px;
                align-items: center;
                height: 100%;
                li{
                    list-style-type: none;
                    padding: 11px 15.3px;
                    border-right: 1px solid #4fd6a0;
                    a{
                        text-decoration: none;
                        color: #fff;
                        font-size: 18px;
                    }
                }
                li:first-child{
                    border-left:1px solid #4fd6a0;
                }
            }
        }
    }
    .bottom-header{
        padding: 15px 0px;
        .bottom-header-nav{
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: #fff;
            position: sticky;
            top: 0px;
            z-index: 100;
            img{
                height: 100%;
            }
            .navbar{
                display: flex;
                justify-content: center;
                gap: 40px;
                padding: 0px;
                // padding: 0px 12px;
                // padding-left: 30px;
                margin: 0px;
                height: 71px;
                li{
                    list-style-type: none;
                    a{
                        text-decoration: none;
                        color: #00394f; 
                        font-size: 14px;
                        font-weight: 700;
                        font-family: 'Roboto', sans-serif;
                        padding: 25px 0px;
                        transition: all 0.3s ease-out 0s;
                        display: block;
                        height: 71px;
                    }
                    a:hover{
                        color: #23cc88;
                    }
                }
                .navbar-dropdown-menu{
                    position: relative;
                    ul{
                        display: none;
                        padding: 15px 0px;
                        margin: 0px;
                        li{
                            a{
                                padding: 9px 25px;
                                font-size: 15px;
                                margin: 0px;
                                height: 40px;
                            }
                        }
                    }
                }
                .navbar-dropdown-menu:hover{
                    // a:hover:first-child{
                    //     display: flex;
                    //     align-items: center;
                    //     padding: 0px;
                    // }
                    .link{
                        color: #23cc88;
                    }
                    ul{
                        display: block;
                        background-color: #fff;
                        border-radius: 3px;
                        padding: 15px 0px;
                        min-width: 250px;
                        transition: all 0.3s ease-out 0s;
                        box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.05);
                        transform: scaleY();
                        position: absolute;
                        top: 100%;
                        left: 0;
                        z-index: 99;
                        transform-origin: 50% 0;
                        li{
                            a:hover{
                                color: #23cc88;
                                margin: 0px;
                                padding: 9px 25px;
                                font-size: 15px;
                            }
                        }
                    }
                }
            }
            .btn{
                background-image: linear-gradient(145deg, rgb(35, 204, 136) 0%, rgb(142, 207, 53) 100%);
                color: #fff;
                padding: 23px 34px;
                margin: 0px 7px;
                position: relative;
                width: 203px;
                left: 7px;
                height: 60px;
                display: flex;
                align-items: center;
                font-size: 14px;
                border-radius: 2px;
                font-weight: 700;
                border: none;
                box-shadow: 0px 4px 7px 0px rgba(38, 204, 133, 0.36);
                letter-spacing: 1px;
            }
        }
    }
}
// header
// main
#hero-section{
    .slide-item{
        .img{
            img{
                background-repeat: no-repeat;
                height:800px;
            }
        }
        .img::before{
            content:"";
            position: absolute;
            background-repeat: repeat-x;
            display: block;
            top: 0;
            width: 100%;
            background-image: url(/assets/images/section-notch-top.png);
            height: 20px;
            z-index: 100;      
        }
        .img::after{
            content:"";
            position: absolute;
            display: block;
            height: 20px;
            background-image: url(/assets/images/section-notch-bottom.png);
            bottom: 0;
            width: 100%;
            background-repeat: repeat-x;
            z-index: 100;
        }
        .slide-inner{
            color: #fff;
            position: absolute;
            top: 195px;
            .title{
                font-weight: 100;
                font-size: 36px;
                margin-bottom: 7px;
                line-height: 48px;
                display: inline-block;
            }
            .title-text{
                font-weight: 700;
                line-height: 90px;
                margin: 0 0 0.43em;
                font-size: 80px;
                margin-bottom: 15px;
                font-family: 'Fredoka One', cursive;
            }
            .text{
                font-size: 18px;
                line-height: 30px;
                margin-top: 0px;
                margin-bottom: 15px;
                width: 490px;
            }
            .btn{
                background-image: linear-gradient(145deg, rgb(35, 204, 136) 0%, rgb(142, 207, 53) 100%);
                color: #fff;
                font-size: 14px;
                line-height: 1;
                padding: 23px 34px;
                border-radius: 2px;
                box-shadow: 0px 4px 7px 0px rgba(38, 204, 133, 0.36);
                text-transform: uppercase;
                letter-spacing: 1px;
                outline: none;
                font-weight: 700;
                border: none;
                margin-top: 48px;
                display: inline-block;
            }
            .btn1{
                background-image: linear-gradient(145deg, rgb(255, 79, 88) 0%, rgb(255, 180, 0) 100%);
                box-shadow: 0px 4px 6px 0px rgba(255, 114, 58,0.36);
                margin-right: 20px;
            }
        }
    }
    .slide-item::before{
        content: "";
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        background-color: rgba(0, 0, 0, .2); 
    }
    .swiper-button-next{
        right: 25px;
    }
    .swiper-button-prev{
        left: 25px;
    }
    .swiper-button-prev,.swiper-button-next{
        position: absolute;
        background: rgba(255, 255, 255, 0.3);
        text-align: center;
        border-radius: 60px;
        width: 60px;
        height: 60px;
        margin-top: -58px;
        line-height: 60px;
        cursor: pointer;
        color: #fff;
    }
    .swiper-button-prev::after{
        font-size: 18px;
    }
    .swiper-button-next::after{
        font-size: 18px;
    }
}